<div class="table-wrapper">
  <button class="nav-btn" [routerLink]="['/userlist']">← Back to Home</button>
  <h1 class="user-title">{{ userDetails.userDetail.name }}</h1>

  <table class="styled-table">
    <thead>
      <tr>
        <th>S.no</th>
        <th>Created Date</th>
        <th>Group ID</th>
        <th>Running Month</th>
        <th>Balance Months</th>
        <th>Auction</th>
        <th>Interest</th>
        <th>Balance</th>
        <!-- <th>Taken By</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let group of userDetails.userGroups;let index  = index">
        <td > <span class="sno">{{index+1}}</span></td>
        <td data-label="Date">{{ group.createdDate | date:'shortDate' }}</td>
        <td data-label="Group ID" [routerLink]="['/usergrouplist', group._id]" class="link">
          {{ group.groupId }}
        </td>
        <td data-label="running Months">{{ group.runningMonth }}</td>
        <td data-label="Balance Months">{{ group.balanceMonth }}</td>
        <td data-label="Auction">{{ group.auction }}</td>
        <td data-label="Interest">{{ group.interest }}</td>
        <td data-label="Balance" class="text-right bold">{{ group.net  }}</td>
        <!-- <td data-label="Taken By">{{ group.takenBy }}</td> -->
      </tr>
    </tbody>
    <tfoot>
      <tr class="total-row">
        <td data-label="Grand Total" class="text-right">
          <strong>Total :</strong><strong>{{ totalBalance  }}</strong>
        </td>
      </tr>
    </tfoot>
  </table>
</div>