
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming

@use '@angular/material' as mat;
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: scroll; /* Prevent horizontal side-scrolling */
}

html {
  height: 100%;
  
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;
  display: flex;
  justify-content:center ;
  align-items: center;
  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}
/* You can add global styles to this file, and also import other style files */
.form-container {
  // max-width: 500px;
  margin: 2rem auto;
  padding: 2rem;
  border: 2px solid #333; /* If you see this border, CSS is working! */
  border-radius: 8px;
  background-color: #f9f9f9;
}

.field {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 0.5rem;
    color: #555;
  }

  input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}

button {
  background: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:disabled {
    background: #ccc;
  }
  &.red{
    background: red;
  }
}
.form{
  display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    /* Small Screens: 1 Column */
@media (max-width: 600px) {
    grid-template-columns: 1fr; /* Changes to a single column */
  }
}
.mt-2{
  margin-top: 1rem;
}